html {
	max-width: 70ch;
	padding: 3em 1em;
	margin: auto;
	line-height: 1.75;
	font-size: 0.786em;
  }

  h1,h2,h3,h4,h5,h6 {
	margin: 3em 0 1em;
  }
  
  p,ul,ol {
	margin-bottom: 0.618em;
	color: #1d1d1d;
	font-family: sans-serif;
  }

hr { border: 2px solid #EEEEEE; }

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	color: #C74350;
	padding: 0 1px;
	text-decoration: underline;
}
a:hover, a:active {
	background-color: #C74350;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
}

pre{background-color:  rgb(238, 238, 238); padding: 10px; margin: 10px; overflow: auto;}
